body {
    font-family: 'Fira Mono', monospace;
    color: black;
}

.navbar {
    background: #d8453b;
}

.navbar-brand {
    display: inline-block;
    font-size: 2em;
    animation: slideLeft 1s;
    margin-left: 1em;
}

@keyframes slideLeft {
   from { margin-left: 2em; }
   to { margin-left: 1em; }
}

.container-fluid {
    margin-top: 6em;
}

.title {
    margin-bottom: 0.5em;
}

.card {
    margin-bottom: 1em;
    box-shadow: 5px 5px 15px -10px;
}

.strikethrough {
    text-decoration-line: line-through;
}

.bar {
    display: inline-block;
    background: #d8453b;
    height: 3em;
    width: 14em;
    position: absolute;
    border-left-color: white;
    border-left: 5px solid white;
    left: 11em;
    animation: slideBarRight 1s;
    transition: height 400ms;
}

.navbar:hover .bar {
    height: 2em;
}

@keyframes slideBarRight {
    from { left: 0em; }
    to { left: 11em; }
}